# .env.example
SMM_API_KEY=dc906d24e90ac3cd272586ea2a3d3b30
SMM_API_URL=https://motherpanel.com/api/v2

# Firebase Config (Client-side)
VITE_FIREBASE_API_KEY=AIzaSyDQpGthu85N1VWb6mZNhJpMqhSkQ0tBVD8
VITE_FIREBASE_AUTH_DOMAIN=top-up-bd-767a0.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://top-up-bd-767a0-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=top-up-bd-767a0
VITE_FIREBASE_STORAGE_BUCKET=top-up-bd-767a0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=815713733718
VITE_FIREBASE_APP_ID=1:815713733718:web:91d5809c0bce2727adfff7
VITE_FIREBASE_MEASUREMENT_ID=G-ZC3SP25RTR
